NEXT_PUBLIC_SITE_TITLE='音ゲーぼっくす'
NEXT_PUBLIC_SITE_URL='http://localhost:3000'
NEXT_PUBLIC_SITE_REPORT_URL=''
NEXT_PUBLIC_SOURCE_CODE_URL='https://github.com/melchamoon/otoge-box'
NEXT_PUBLIC_SITE_DESCRIPTION_EN='A utility site that provides a searching interface for ______ songs and sheets.'
NEXT_PUBLIC_SITE_DESCRIPTION_JP='______譜面情報検索webツール'

# Base URL of the songs data. Leave it unset to read the local data copy while
# developing (see README), or set it to an empty value to force the remote one.
# LOCAL_DATA_BASE_URL='/local-data'
