# required in maimai/fetch-versions
MAIMAI_JP_SEGA_ID=''
MAIMAI_JP_SEGA_PASSWORD=''

# required in diva/fetch-songs
DIVA_JP_SEGA_ID=''
DIVA_JP_SEGA_PASSWORD=''

# required in popn/fetch-songs-v1 (only the 'M573SSID' session token can be used due to automated login prevention)
# POPN_JP_KONAMI_SESSION_TOKEN=''

# required in nostalgia/fetch-songs (only the 'M573SSID' session token can be used due to automated login prevention)
NOSTALGIA_JP_KONAMI_SESSION_TOKEN=''

# required in ddr/fetch-songs-v2 (only the 'M573SSID' session token can be used due to automated login prevention)
DDR_JP_KONAMI_SESSION_TOKEN=''

# required in gitadora/fetch-all (only the 'M573SSID' session token can be used due to automated login prevention)
GITADORA_JP_KONAMI_SESSION_TOKEN=''

# required in maimai/fetch-intl-sheets
MAIMAI_INTL_SEGA_ID=''
MAIMAI_INTL_SEGA_PASSWORD=''

# required in chunithm/fetch-intl-sheets
CHUNITHM_INTL_SEGA_ID=''
CHUNITHM_INTL_SEGA_PASSWORD=''

# required in chunithm/fetch-extras & chunithm/fetch-internal-levels
CHUNITHM_CHUNIREC_ACCESS_TOKEN=''

# required in ongeki/fetch-internal-levels (optional)
ONGEKI_SCORE_USER_AGENT=''

# required in maimai/fetch-internal-levels
GOOGLE_API_KEY=''

# required in maimai/fetch-extras-v2 & maimai/fetch-intl-sheets
USER_AGENT=''

# required for PostgreSQL schema/migration/fetch jobs
DATABASE_URL=''
DATABASE_SSL='true'
DB_POOL_MAX='5'

# data publication bucket (R2 S3-compatible API)
R2_DATA_ENDPOINT=''
R2_DATA_BUCKET=''
R2_DATA_ACCESS_KEY_ID=''
R2_DATA_SECRET_ACCESS_KEY=''

# private PostgreSQL backup bucket (separate from the data bucket)
R2_BACKUP_ENDPOINT=''
R2_BACKUP_BUCKET=''
R2_BACKUP_ACCESS_KEY_ID=''
R2_BACKUP_SECRET_ACCESS_KEY=''

# Set only for a manually approved large reduction in song count.
# ALLOW_LARGE_DECREASE='false'
